/*ADMIN*/
.bg-train-admin {
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.right-bg-train-admin{
    -fx-background-color: linear-gradient(to bottom right, #ff4757, #c44569);
}

.text-field-admin{
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #ff4757;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
}
.text-field-admin:focused{
    -fx-border-color: #c44569;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 71, 87, 0.3), 10, 0, 0, 0);
}
.btn-register{
    -fx-background-color: linear-gradient(to right, #ff6b6b, #ee5a52); /* gradient red */
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 5 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-border-color: transparent;
    -fx-transition: all 0.7s ease-in-out;
}
.btn-register:hover{
    -fx-background-color: linear-gradient(to right, #ee5a52, #ff6b6b); /* reverse gradient */
}